/* ----------------------- /
#Reset
/ ----------------------- */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

html {
    overflow: hidden;
    scroll-behavior: smooth;
}


/* ----------------------- /
#General
/ ----------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}


/* ----------------------- /
#Title
/ ----------------------- */

.title {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 50px;
}

.title h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    bottom: 0;
    left: calc(50% - 20px);
}

.padding {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
}

.title h2 {
    font-size: 28px;
}


/* ----------------------- /
#Body
/ ----------------------- */

body {
    font-size: 1rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}


/* ----------------------- /
#Header
/ ----------------------- */

header {
    width: 100%;
    z-index: 10;
    position: fixed;
    padding: 0px 80px;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 100px;
}

.list ul {
    display: flex;
    gap: 20px;
    -webkit-column-gap: 20px;
}

.list ul a {
    color: #000;
}


/* ----------------------- /
#Cover page
/ ----------------------- */

.cover-page {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    text-align: start;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    display: block;
    width: 100%;
    height: auto;
}