/* ----------------------- /
#Reset
/ ----------------------- */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* ----------------------- /
#General
/ ----------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

.padding {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 30px;
}


/* ----------------------- /
#Title
/ ----------------------- */

.title {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 50px;
}

.title h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    color: #0f455a;
}

.title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #398aad;
    /* background: #2cbcf9; */
    bottom: 0;
    left: calc(50% - 20px);
}

.padding {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
}

.title h2 {
    font-size: 28px;
}


/* ----------------------- /
#Body
/ ----------------------- */

body {
    font-size: 1rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}


/* ----------------------- /
#Header
/ ----------------------- */

header {
    width: 100%;
    z-index: 10;
    position: fixed;
    padding: 0px 80px;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 100px;
}

.list ul {
    display: flex;
    gap: 20px;
    -webkit-column-gap: 20px;
}

.list ul a {
    color: #fff;
}

.header-color {
    transition-delay: 0.5s;
    transition: 1s ease-in-out;
    background: linear-gradient(to left, #0f455a 0%, #ebebebce 100%);
}


/* ----------------------- /
#Cover page
/ ----------------------- */

.cover-page {
    width: 100%;
    height: 100vh;
    display: flex;
    color: #fff;
    align-items: flex-start;
    text-align: start;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left, #0f455a 0%, #ebebebce 100%), url(../images/home/bg.jpg) fixed no-repeat;
    background-size: cover;
}

.text-box {
    display: flex;
    gap: 10px;
    flex-direction: column;
    -webkit-column-gap: 10px;
}

.text-box h1 {
    color: #0f455a;
    font-size: 2rem;
}

.text-box p {
    width: 70%;
    color: #0f455a;
    font-size: 1.2rem;
}

.text-box a {
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    width: fit-content;
    margin-top: 20px;
    transition-delay: 0.2s;
    transition: 0.4s ease-in;
    background-color: #0f455a;
}

.text-box a:hover {
    color: #0f455a;
    background-color: #eeeded;
    box-shadow: 0px 1px 10px #00000023;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    display: block;
    width: 100%;
    height: auto;
}


/* ----------------------- /
#About us
/ ----------------------- */

.about-container {
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.all-items {
    gap: 25px;
    display: grid;
    -webkit-column-gap: 25px;
    grid-template-columns: auto auto;
}

.item-box {
    text-align: center;
    padding: 50px 30px;
    border-radius: 5px;
    height: fit-content;
    transition-delay: 0.4s;
    background-color: #fff;
    transition: 0.8s ease-in-out;
    box-shadow: 0px 1px 10px hsl(0, 0%, 91%);
}

.item-box p {
    margin-bottom: 0;
}

.item-box:nth-child(2) {
    margin-top: -40px;
}

.item-box:nth-child(4) {
    margin-top: -40px;
}

.item-box h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-box i {
    width: 60px;
    height: 60px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #0f455a;
    transition-delay: 0.4s;
    transition: 0.8s ease-in-out;
}

.item-box:hover {
    border: none;
    color: #fff;
    background-color: #0f455a;
    box-shadow: 0px 1px 10px #0f455a;
}

.item-box:hover i {
    box-shadow: none;
    color: #0f455a;
    background-color: #fff;
}


/* Media query */

@media screen and (max-width: 1050px) {
    .about-container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 600px) {
    .all-items {
        gap: 10px;
        display: grid;
        -webkit-column-gap: 10px;
        grid-template-columns: auto;
    }
    .item-box:nth-child(2) {
        margin-top: 0px;
    }
    .item-box:nth-child(4) {
        margin-top: 0px;
    }
}


/* ----------------------- /
#Choose us
/ ----------------------- */

.choice-container {
    background-color: #fbfbfb8d;
}

.choice-item .icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

.choice-item .icon i {
    position: relative;
    font-size: 20px;
    color: #121212f0;
    transition: ease-in-out 0.5s;
}

.choice-item .icon svg {
    position: absolute;
    top: 0;
    left: 0;
}

.choice-item .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
}

.choice-item:hover svg path {
    fill: #0f455a;
}

.choice-item:hover i {
    color: #fff;
}